@model MaerskLine.Models.Shipping

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shipping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShipID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CargoTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CargoTag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
